<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- charset -->
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<!-- screen size responsive -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>Shopping Cart</title>
		<!-- font -->
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'ecommerce/css/materialize.css' %}" media="screen,projection">

	</head>
	<body>
						<!-- Navbar goes here -->

		<nav class="light-blue lighten-1" role="navigation">
		    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
		      	<ul class="right hide-on-med-and-down">
		       		<li><a href="#">Navbar Link</a></li>
		      	</ul>

		      	<ul id="nav-mobile" class="side-nav">
		        	<li><a href="#">Navbar Link</a></li>
		      	</ul>
		      	<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
		    </div>
		</nav>
		<nav>
		    <div class="nav-wrapper">
		      	<div class="col s12">
		      		<a href="#!" class="breadcrumb">Review Cart</a>
			        <a href="#!" class="breadcrumb">Shipping &amp; Payment</a>
			        <a href="#!" class="breadcrumb">Place Order</a>
		      	</div>
		    </div>
		 </nav>

	    <!-- Page Layout here -->
	    <div class="row">


		    <div class="col s12">
		    	<h3>Shopping Cart</h3>
				<div class="row bvert">
		    		<div class="col s6">
		    			<h3></h3>
		    		</div>

					<div class="col s1">
						<p>Price</p>
					</div>
					<div class="col s2">
						<p>Quantity</p>
					</div>
					<div class="col s2">
						<p>Total</p>
					</div>
		   		</div>

		        <!-- start of loop  -->
		        	{% for product, item in goods.iteritems %}

		        <div class="divider"></div>
		 		<div class="section">
		   			<div class="row">
			    		<div class="col s2">
			    			<img class="responsive-img" src="{% static 'ecommerce/images/afrocat.jpg' %}">
			    		</div>
			    		<div class="col s4">
			    			<h5>{{item.name}}</h5>
			    			<p>{{item.description}}</p>
			    		</div>
			    		<div class="col s1">
			    			<p>${{item.price|floatformat:2}}</p>
			    		</div>
			    		<div class="col s2">

			    			<form action="{% url 'more' id=item.id %}" method="POST">
                  {% csrf_token %}
			    				<div class=".input-field">
			    					<select class="browser-default" onChange="this.form.submit()" id="selectOpt" name="select">
                      <option>{{item.quantity}}</option>
			    						<option value="1">1</option>
			    						<option value="2">2</option>
			    						<option value="3">3</option>
			    						<option value="4">4</option>
			    						<option value="5">5</option>
			    						<option value="6">6</option>
			    					</select>
			    				</div>
			    			</form>

			    		</div>
			    		<div class="col s2">
			    			<p>${{item.total|floatformat:2}}</p>
			    		</div>
			   		</div>
		  		</div>
          	{% endfor %}
		  		<!-- end of loop -->
          <div class="divider"></div>
      <div class="section">
          <div class="row">
            <div class="col s2"></div>
            <div class="col s3"></div>
            <div class="col s2">
            <a href="{% url 'ship' %}">Proceed to Checkout</a></div>
            <div class="col s2"></div>
            <div class="col s2">
              <p>${{grandtotal|floatformat:2}}</p>
            </div>
          </div>
        </div>




		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	    <script type="text/javascript" src="{% static 'ecommerce/js/materialize.js' %}"></script>
	    <script type="text/javascript">
	    	$(document).ready(function() {
            $('select').material_select();
        });
        function mn_select(){
          var choice = document.getElementById('selectOpt');
          alert(myselect.options[myselect.selectedIndex].value);
        };
	    </script>
	</body>
</html>
