<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    {% load staticfiles %}
    <link type="text/css" rel='stylesheet' href="{% static 'ecommerce/css/materialize.css'%}">
    <style type="text/css">
      div.box{
        height: 100%;
        width: 300px;
        border: 1px solid black;
        padding: 7px;
        margin-top: 10px;
      }
      div.products{
        /*width: 1000px;*/
        /*height: 100%;*/
        border: 1px solid black;
        padding: 10px;
        margin-top: 10px;
      }
      div.image{
        height: 150px;
        width: 150px;
        border: 1px solid black;
      }
      div.product-display{
        margin-bottom: 50px;
      }
    </style>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper blue-grey lighten-3">
        <a href="#" class="brand-logo">&nbsp;&nbsp;Dojo eCommerce</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="{% url 'cart' %}">Shopping Cart (#)</a></li>
        </ul>
      </div>
    </nav>
                   <!--BODY STARTS HERE!!!!!-->
            <!-- THIS IS THE LEFT HAND D.DIV SIDEBAR -->

    <div class="row">
        <div class="col s12 m4 l3">
                      <!-- <div class="box"> -->
              <input type="text" name="" value="" placeholder="product name">
              <ul class='collection with-header'>
                <li class='collection-header'>Categories</li>
                <li class="collection-item">Tshirts</li>
                <li class="collection-item">Shoes</li>
              </ul>
                        <!-- </div> -->
        </div>
                <!--END SIDEBAR-->

                <!--RIGHT HAND D.DIV MAIN-->
        <div class="col s12 m8 l9">
                 <!--INSIDE RIGHT HAND D.DIV MAIN-->
            <div class="row">

                <div class="col s12 m8 l9"> <!-- Note that "m4 l3" was added -->
                    <!--  Page Name And Number -->
                     <h5>Tshirts(page 2)</h5>
                           <!--  
                        9-columns-wide on large screens,
                        8-columns-wide on medium screens,
                        12-columns-wide on small screens  -->

                </div>

                <div class="col s12 m4 l3"> <!-- Note that "m8 l9" was added -->
                    <ul class='collection'>
                          <li class='collection-item'>
                              <a href="#">first</a> | <a href="#">prev</a> | 2 | <a href="#">next</a>
                          </li>
                     
                          <li class="collection-item">
                              <label for="sorts">Sorted by:</label>
                              <select class="" id="sorts">
                                  <option value="">option1</option>
                                  <option value="">option2</option>
                              </select>
                          </li>
                    </ul>
                                    <!-- Teal page content

                                          This content will be:
                                      3-columns-wide on large screens,
                                      4-columns-wide on medium screens,
                                      12-columns-wide on small screens  -->

                </div>
            </div>
            
            <div class="row product-display products">
                <div class="row">

                    <div class="col s12 m2 l2">
                        <div class="col s6 m6 l6">
                            <div class="materialboxed">
                                <img class="responsive-img" src="{% static 'cart/images/afroCat.jpeg' %}">
                            </div>
                        </div>
                        <div class="col s6 m6 l6">   
                                <p>Afro Cat, true O.G. </p>     
                        </div>
                    </div>

                    <!--END ROW-->
                </div> 

                <!--END PRODUCTS DISPLAY-->
            </div>
            <div class="row">
                <div class="col s10 offset-s2">
                    1 | 2 | 3 | ->
                </div>
            </div>
        </div>
    
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{% static 'ecommerce/js/materialize.js'%}"></script>
    <script type="text/javascript">
    $(document).ready(function() {
      $('select').material_select();
      $('.materialboxed').materialbox();
      }
    });
    </script>
  </body>
</html>
